.container {
  font-family: 'Roboto Mono', monospace;
  margin-top: 40px;
  background-color: lightblue;
}

#game {
  display: block;
}

.show-rules {
  display: none;
  margin-top: 30px;
}
.rules {
  text-align: center;
}

#rules {
  margin-top: 45px;

}

.col-md-6 {
  width: 40%;
  border: solid green;
  padding: 10px;
  margin: 20px;
}
